<nav>
    <div class="container">
        <div class="nav_flex">
            <div id="menu_container"></div>
            <menu id="menu">
                <div class="text-end">
                    <button id="close_btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="menu_flex p-2">
                    <div class="item"><a class="text-2xl" href="{% url 'main' %}">Logo</a></div>
                    {% if request.user.is_authenticated %}
                        <li class="relative group flex items-center text-white text-center">
                            <p><a href="/news/main/" class="block px-4 py-2 text-sm">Workspace</a></p>
                            <p><a href="{% url 'change_profile' %}" class="block px-4 py-2 text-sm">Profile</a>
                            </p>
                            <p><a href="{% url 'logout' %}" class="block px-4 py-2 text-sm">Logout</a></p>
                        </li>
                    {% else %}
                        <p class="nav-item text-white">
                            <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                        </p>
                        <p class="nav-item text-white">
                            <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                        </p>
                    {% endif %}
                    <div class="burger_menu_sidebar">
                        {% include 'components/workspace/movies_filter.html' %}
                    </div>
                </div>
            </menu>
            <button id="open_btn"><i class="fa-solid fa-bars"></i></button>
            <form class="search flex" action="{% url 'main' %}" method="get">
                <input class="input_search form-input w-64 mr-4 py-2 px-4 rounded-lg text-black"
                       value="{{ request.GET.search }}" name="search" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-dark text-white py-2 px-6 rounded-lg border border-transparent hover:border-white"
                        type="submit">Search
                </button>
            </form>
        </div>
    </div>
</nav>

<script>
    const menu = document.querySelector('#menu')
    const menu_container = document.querySelector('#menu_container')
    const close_btn = document.querySelector('#close_btn')
    const open_btn = document.querySelector('#open_btn')
    const category = document.querySelector("#category")

    const select = document.querySelector('#select');
    const subselsect = document.querySelector('#subselsect');

    select?.addEventListener("click", (e) => {
        subselsect.classList.toggle("blockactive")
    })

    const toggle_menu = () => {
        menu.classList.toggle('active')
        menu_container.classList.toggle('active')
        const submenu = document.getElementById('submenu');
        submenu?.classList.toggle('hidden');
        category?.classList.add("flex-col")
        if (menu.classList.contains('active')) {
            open_btn.innerHTML = '<i class="fa-solid fa-xmark"></i>'
        } else {
            open_btn.innerHTML = '<i class="fa-solid fa-bars"></i>'
        }
    }

    close_btn.addEventListener('click', toggle_menu)
    open_btn.addEventListener('click', toggle_menu)
    menu_container.addEventListener('click', toggle_menu)
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    #submenu {
        margin-top: 140px;
    }

    :root {
        --primary-color: #5c85d5;
        --body-font: "Montserrat", sans-serif;
        --text-color: #111;
        --accent-text-color: #fff;
        --background-color: #FFF;
    }

    .blockactive {
        transform: translateY(60%);
        display: block !important;
    {#background: #01010180;#}{#color: white;#}

    }

    .rowactive {
        flex-direction: column;

    }

    #category {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    body {
        padding: 0;
        margin: 0;
        font-family: var(--body-font);
        background-color: var(--background-color);
        color: var(--text-color);
    }


    .nav_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        color: var(--accent-text-color);
        background-image: url("/media/images/26da780891a603e8f9793810350ac13a.jpg");
        background-size: cover;
        border-radius: 10px;
        padding-block: 10px;
    }


    nav .logo span {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
    }

    menu {
        padding: 0;
        margin: 0;
    }

    menu .menu_flex {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        align-items: center;
    }

    menu .item a {
        display: block;
        text-decoration: none;
        color: var(--accent-text-color);
        padding: 8px 12px;
        border: 1px solid transparent;
        border-radius: 10px;
        transition: .3s;
    }

    menu .item a:hover {
        border-color: var(--accent-text-color);
    }

    #open_btn {
        border: 1px solid var(--accent-text-color) transparent;
        background-color: transparent;
        color: var(--accent-text-color);
        padding: 5px 7px;
        font-size: 1.3rem;
        display: none;
        cursor: pointer;
        transition: .3s;
    }

    #open_btn:hover {
        background-color: var(--accent-text-color);
        color: var(--primary-color);
    }

    #close_btn {
        display: none;
        border: 0;
        background: transparent;
        font-size: 1.6rem;
        color: var(--accent-text-color);
        cursor: pointer;
    }

    .text-end {
        text-align: end;
        display: none;
    }

    #menu_container {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .burger_menu_sidebar {
        display: none;
    }

    @media screen and (max-width: 1420px) {
        menu {
            position: fixed;
            right: -100%;
            top: 0;
            bottom: 0;
            background-color: rgba(1, 1, 1, .5);
            backdrop-filter: blur(2px);
            width: 70%;
            padding: 10px 40px;
            transition: .25s linear;
            z-index: 10;
        }

        menu.active {
            right: 0;
        }

        menu .menu_flex {
            flex-direction: column;
            padding-block: 40px;
            justify-content: space-evenly;
            height: 80vh;
        }

        #open_btn {
            display: inline;
        }

        #close_btn {
            display: inline;
        }

        #menu_container.active {
            display: block;
        }

        .search {
            margin-left: 60px;
            font-size: 15px
        }

        .search .input_search {
            width: 200px
        }

        .burger_menu_sidebar {
            display: block;
        }

        .relative {
            display: block;
        }

    }
</style>

