{% extends 'workspace/base.html' %}
{% load static %}

{% block title %}| Change Password{% endblock title %}

{% block content %}
    {% include 'components/nav.html' %}
    <div class="flex justify-center items-center min-h-screen">
        <div class="card w-96">
            <div class="card-body">
                <form action="{% url 'change_password' %}" id="change_password_form" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="flex justify-center items-center">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-5 rounded focus:outline-none focus:shadow-outline"
                                type="submit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        body {
            background-image: url("/media/images/scale_1200.png");
            background-size: cover;
        }

        #change_password_form ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: red;
        }

        .card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 2rem;
        }

    </style>
{% endblock content %}
